.carousel-indicators{
    li{
      background-color: #fff;
    }
    li.active{
    background-color: #F9423E;
  }
  }
  .carousel-indicators li{
    opacity: 1;
    height: 4px;
  } 
  #carouselExampleControls{
  width: 30em;
  margin-right: 1em;
  position: relative;
  }
  span.carousel-control-prev-icon{
    visibility: hidden;
  }
  span.carousel-control-next-icon{
    visibility: hidden;
  }
  .d-block.w-100{
    filter: brightness(50%);
  }
  h2{
    text-transform: uppercase;
    font-size: 3vw;
    color: #fff;
    position: absolute;
    top: 100px;
    z-index: 9999;
   left: 25%;
   top: 40%; 
  }
  h4{
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    font-size: 1vw;
    z-index: 9999;
    position: absolute;
    left: 35%;
   top: 50%;
  }
  .slider-button{
    text-transform: uppercase;
    background-color: #F9423E;
    border: none;
    position: absolute;
    color: #fff;
    width: 10vw;
    z-index: 9999;
    height: 3vw;
    left: 40%;
    top: 60%;
    font-weight: 500;
    transition: background-color 1s;
    &:hover{
      background-color: black;
    }
  }
  .slider-h2{
    color: #F9423E;
  }
  .third-ct{
    margin: 0 0 0 20px;
  }