.film-button{
    width: 6em;
    height: 2em;
    left: 12em;
    position: relative;
    color: black;
    background-color: #F2F0F1;
    border: none;
    top: 2em;
    margin-bottom: 2em;
}
#plus-button{
  margin: 0 auto;
  text-align: center;
}
#plus-film{
    width: 10em;
    height: 2.2em;
    left: 12em;
    position: relative;
    color: white;
    background-color: #F9423E;
    border: none;
    top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
}
