$border-radius : 50px;

.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .face {
        background-color: #3b5998;
    }

    .twit {
        background-color: #1DA1F3;
    }

    .drib {
        background-color: #E54583;
    }

    .gplus {
        background-color: #DD4B3F;
    }

    .contain {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        margin: 2px 0px;
        margin-left: -100px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        overflow: hidden;

        .leftbox {
            display: flex;
            margin: 0px 10px;
            margin: auto;

            a {
                text-decoration: none;
                color: white;
                padding-top: 7px;
                margin: auto;
            }
        }

        .rightbox {
            display: flex;
            margin: 0px 5px;
            text-align: center;
            border-radius: $border-radius;
            background-color: whitesmoke;
            margin-left: 20px;
            margin-right: -2px;

            .network {
                color: black;
                font-size: 25px;
                width: 40px;
                height: 40px;
                padding-top: 7px;
            }
        }
    }
}