#register-bar{
    background-color: #FF423E;
    height: 3vw;
    
    p{
        color: white;
    left:4vw;
    line-height: 3vw;
    position: relative;
    top: 0;
    }

    button{
        color: white;
        background-color: black;
        border: none;
        text-transform: uppercase;
        position: relative;
        top: -3.1em;
        left: 17vw;
    }
}