@import 'network-buttons';
@import 'register-bar';
@import 'to-top-button';
@import 'footer';
@import 'header';
@import 'featured';
@import 'cards';

body {
    font-size: medium;
    font-family: 'Roboto', sans-serif;  

    main {
        overflow: hidden;
    }
    
    footer{
      overflow: hidden;

    }
}
