.icon-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.icon-bar button {
  border: none;
}

.icon-bar .facebook {
  background-color: #3b5998;
}

.icon-bar .twitter {
  background-color: #1DA1F3;
}

.icon-bar .dribbble {
  background-color: #E54583;
}

.icon-bar .gplus {
  background-color: #DD4B3F;
}

.icon-bar .fab {
  font-size: 25px;
}

.icon-bar .links {
  background-color: #FFF;
  border-radius: 50px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.icon-bar .parent {
  margin-top: 3px;
  border-radius: 0 50px 50px 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.icon-bar .parent span {
  display: none;
  width: 0px;
}

.icon-bar .parent a {
  color: white;
  text-decoration: none;
}

.icon-bar :active span,
.icon-bar :focus span {
  display: inherit;
  width: 100px;
}

#register-bar {
  display: flexbox;
  background-color: #FF423E;
  padding: 5px;
  font-size: small;
}

#register-bar i {
  color: white;
  margin-left: 30px;
}

#register-bar p {
  display: inline;
  color: white;
  margin: 0 10px;
}

#register-bar button {
  display: inline;
  color: white;
  background-color: black;
  border: none;
  text-transform: uppercase;
  padding: 4px;
  padding-bottom: 4px;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: #FB4039 2px solid;
  outline: none;
  /* Remove outline */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

body {
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

body main {
  overflow: hidden;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 2.5em;
}

.nav-link.dropdown-toggle {
  background-color: #F9423E;
  color: #fff;
}

.nav-item.button {
  background-color: black;
  opacity: 0.5;
  width: 8vh;
  margin: 0 0 0 5px;
}

.nav-item.contact {
  position: relative;
  width: 8vh;
  margin: 0 0 0 8vh;
}

.form-inline.my-2.my-lg-0 {
  width: 20vw;
}

.form-control.my-0.py-1.red-border {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  opacity: 0.6;
}

.input-group-text.red.lighten-3 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  opacity: 0.6;
}

.fas.fa-search {
  color: white;
  opacity: 0.7;
}

.first {
  color: #F9423E;
  font-weight: 700;
}

.second {
  color: #ffffff;
  font-weight: 700;
}

.first-ct {
  border: 2px whitesmoke solid;
  padding: 20px;
  top: 1em;
  position: relative;
}

.film-button {
  width: 6em;
  height: 2em;
  left: 12em;
  position: relative;
  color: black;
  background-color: #F2F0F1;
  border: none;
  top: 2em;
  margin-bottom: 2em;
}

#plus-film {
  width: 10em;
  height: 2.2em;
  left: 12em;
  position: relative;
  color: white;
  background-color: #F9423E;
  border: none;
  top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

#plus-button {
  margin: 0 auto;
  text-align: center;
}

blockquote {
  font-size: 1.5em;
  position: relative;
  left: 4em;
  text-indent: 0.45em;
  border-left: 4px solid #F9423E;
  text-transform: uppercase;
}

.shop-movies {
  margin-bottom: 4vh;
}

.jumbotron {
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  background-color: #fff;
}

.carousel-indicators li.active {
  background-color: #F9423E;
}

/* li{
  background: #ffffff;
  width: 50px;
  height: 4px;
  padding: 10px;
}
li{
  background-color: #ffffff;
  opacity: 1;
}
li.active{
background-color: red;
height: 2px;
}*/
.carousel-indicators li {
  opacity: 1;
  height: 4px;
}

#carouselExampleControls {
  width: 30em;
  margin-right: 1em;
  position: relative;
}

span.carousel-control-prev-icon {
  visibility: hidden;
}

span.carousel-control-next-icon {
  visibility: hidden;
}

.d-block.w-100 {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

h2 {
  text-transform: uppercase;
  font-size: 3vw;
  color: #fff;
  position: absolute;
  top: 100px;
  z-index: 9999;
  left: 25%;
  top: 40%;
}

h4 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  font-size: 1vw;
  z-index: 9999;
  position: absolute;
  left: 35%;
  top: 50%;
}

.slider-button {
  text-transform: uppercase;
  background-color: #F9423E;
  border: none;
  position: absolute;
  color: #fff;
  width: 10vw;
  z-index: 9999;
  height: 3vw;
  left: 40%;
  top: 60%;
  font-weight: 500;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.slider-button:hover {
  background-color: black;
}

.slider-h2 {
  color: #F9423E;
}

.third-ct {
  margin: 0 0 0 20px;
}

.formulaire {
  background-color: white;
  margin: 0 auto;
  width: 50vw;
  height: 20vw;
}

#fname {
  width: 24vw;
  margin-bottom: 1vw;
}

#lname {
  width: 24vw;
  margin-bottom: 1vw;
}

#email {
  width: 24vw;
  margin-bottom: 1vw;
}

#subject {
  width: 24vw;
}

#form-button {
  margin-top: 1vw;
  height: 2.2vw;
  background-color: #F9423E;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 1vw;
  border: none;
  /*   margin-left: 1vw; */
  z-index: 999;
  position: relative;
}

/*----Footer---*/
/* ul {width:100%; list-style:none;}
ul li {float:left; width:150px; font-weight:bold;}
ul li ul {padding:0;}
ul li ul li {float:none; padding:5px 0; font-weight:normal;} */
footer {
  background-color: #0D0D0D;
}

.container.text-center.text-md-left {
  margin: 0 40px 0 40px;
}

.review-list {
  float: left;
  padding: 5px 5px 0 0;
}

.review-list a {
  font-weight: 500;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  background-color: #363636;
  font-size: 14px;
}

.card.footer {
  background-color: #0D0D0D;
}

.card-header.pt-0 {
  padding: 0;
}

.footer-title {
  color: #F9423E;
}

.social {
  text-align: center;
  margin-top: 4vw;
}

h5 {
  color: grey;
}

.fab {
  color: white;
  border: 1px white solid;
  padding: 8px 10px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.fab:hover {
  background-color: #bdbaba;
}

.btn.btn {
  padding: 0;
}

.container-fluid.footer {
  width: 300px;
}

.col-md-2.mx-auto.grid {
  padding-left: 150px;
}
/*# sourceMappingURL=style.css.map */