.icon-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.icon-bar button {
  border: none;
}

.icon-bar .facebook {
  background-color: #3b5998;
}

.icon-bar .twitter {
  background-color: #1DA1F3;
}

.icon-bar .dribbble {
  background-color: #E54583;
}

.icon-bar .gplus {
  background-color: #DD4B3F;
}

.icon-bar .fab {
  font-size: 25px;
}

.icon-bar .links {
  background-color: #FFF;
  border-radius: 50px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.icon-bar .parent {
  margin-top: 3px;
  border-radius: 0 50px 50px 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.icon-bar .parent span {
  display: none;
  width: 0px;
}

.icon-bar .parent a {
  color: white;
  text-decoration: none;
}

.icon-bar :active span,
.icon-bar :focus span {
  display: inherit;
  width: 100px;
}

#register-bar {
  display: flexbox;
  background-color: #FF423E;
  padding: 5px;
  font-size: small;
}

#register-bar i {
  color: white;
  margin-left: 30px;
}

#register-bar p {
  display: inline;
  color: white;
  margin: 0 10px;
}

#register-bar button {
  display: inline;
  color: white;
  background-color: black;
  border: none;
  text-transform: uppercase;
  padding: 4px;
  padding-bottom: 4px;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: #FB4039 2px solid;
  outline: none;
  /* Remove outline */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

footer {
  background-color: #070707;
  margin-bottom: 0px;
  margin-top: 15px;
}

footer .capsOn {
  text-transform: uppercase;
  font-weight: bolder;
}

footer .capsOn h2 {
  color: white;
}

footer .container {
  margin: 0 5px;
}

footer .subBut {
  background-color: #fe4241;
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

footer a.subbBut,
footer a.subbBut:hover {
  text-decoration: none;
  color: white;
}

footer .whiteSkins {
  color: white;
}

footer .spaceIt {
  margin-top: 10px;
}

footer .redSkins {
  color: #fe4241;
}

footer .imgFilmMid {
  max-width: 100%;
  height: auto;
}

footer .imgFilmMid2 {
  max-width: 20%;
  height: auto;
}

footer .imgFilmMid3 {
  max-width: 80%;
  height: auto;
}

footer .imgFilmMid4 {
  background-color: #ebe7e7;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
  width: 100%;
  margin-bottom: 30px;
}

footer .imgFilmMid4 p {
  text-align: center;
}

footer .imgFilmMid4 .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .mainh2 {
  border-left: 5px solid #fe4241;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-left: 50px;
  padding-left: 10px;
}

footer .noDeco {
  list-style-type: none;
  text-decoration: none;
}

footer .buttonHome {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  float: right;
}

footer .iconeBottom {
  font-size: 35px;
  color: blue;
}

footer .greySkins {
  color: grey;
}

footer .imageFam {
  max-width: 100%;
  height: auto;
}

footer .imgFilmFoot {
  max-width: 40%;
  height: auto;
}

footer .boxOne {
  padding: 1px;
  margin: 1px;
  color: white;
  background-color: grey;
}

footer .sub {
  margin: 10px;
}

footer .sub form {
  display: inline;
}

footer .sub button {
  display: inline;
}

footer .list, footer .connect {
  margin: 10px;
}

header .nav-colored {
  background-color: rgba(0, 0, 0, 0.719);
}

header .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

header .navbar .navbar-brand {
  font-size: 200%;
  font-weight: bolder;
  margin-right: 2em;
}

header .navbar #nav-search {
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  border: none;
  border-radius: 30px;
}

header .navbar #nav-search::-webkit-input-placeholder {
  color: white;
}

header .navbar #nav-search:-ms-input-placeholder {
  color: white;
}

header .navbar #nav-search::-ms-input-placeholder {
  color: white;
}

header .navbar #nav-search::placeholder {
  color: white;
}

header .jumbotron {
  border-radius: 0;
  padding: 0;
}

header .carousel {
  width: 100%;
  z-index: 0;
}

header .carousel .carousel-item {
  width: 100%;
  height: 50vh !important;
  min-height: 350px;
}

header .carousel .carousel-item h5 {
  font-size: 200%;
  font-weight: bolder;
}

header .carousel .carousel-item .carousel-caption {
  position: absolute;
  top: 30%;
}

header .carousel #slide-one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .carousel #slide-two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .carousel #slide-three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.featured {
  margin-bottom: 3em;
}

.featured .hidden {
  display: none;
}

.featured #plus-film {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.defaultCard {
  border: none;
  padding: 5px;
}

.defaultCard p {
  font-size: 90%;
}

#movie {
  border: solid 1px whitesmoke;
  width: 100%;
  margin: 2% 3% 5% 0;
  padding: 10px;
}

body {
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

body main {
  overflow: hidden;
}

body footer {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */